body {
  text-align: center;
   background-image: url('../images/trumpeagleattack.gif');
}

table {
  margin: 20px auto;
}

table.board {
  border-collapse: collapse;
  font-size: 50px;
  font-weight: bolder;
}

.column1{
  color: red;
}

.column2{
  color: white;
}

.column3{
  color: blue;
}
body h1{
  color: red;
}
body h2{
  color: white;
}
thead tr{
  color: blue;
}
.board td {
  width: 100px;
  height: 100px;
  text-align: center;
  border: 5px solid black;
  cursor: pointer;
}

.board tr td:first-child {
  border-left: none;
}

.board tr td:last-child {
  border-right: none;
}

.board tr:first-child td {
  border-top: none;
}

.board tr:last-child td {
  border-bottom: none;
}
