body {
  text-align: center;
   background-image: url('../images/trumpeagleattack.gif');
}

table {
  margin: 20px auto;
}

table.board {
  border-collapse: collapse;
  font-size: 50px;
  font-weight: bolder;
}

.column1{
  color: red;
  font-family: 'Ruslan Display', cursive;
  font-weight: 900;
  font-size: 80px;
}

.column2{
  color: white;
  font-family: 'Ruslan Display', cursive;
  font-size: 80px;

}
#p1score, #p2score{
  color: white;
}

.column3{
  font-family: 'Ruslan Display', cursive;
  color: blue;
  font-size: 80px;

}
#button1 {
  height: 50px;
  width: 120px;
  background-color: rgba(0, 0, 0, 0.0)
}

#button2 {
  height: 50px;
  width: 10px;
  background-color: rgba(0, 0, 0, 0.0)
}


#spot {
  color: red
}
body h1{
  color: red;
  font-family: 'Fjalla One', sans-serif;

}
body h2{
  color: white;
  font-family: 'Fjalla One', sans-serif;

}
thead tr{
  color: blue;
  font-family: 'Fjalla One', sans-serif;

}
.board td {
  width: 100px;
  height: 100px;
  text-align: center;
  border: 5px solid white;
  cursor: pointer;
}

.board tr td:first-child {
  border-left: none;
}

.board tr td:last-child {
  border-right: none;
}

.board tr:first-child td {
  border-top: none;
}

.board tr:last-child td {
  border-bottom: none;
}
